In [101]:
import json
import math
from os import path
import pandas as pd

In [102]:
CPU_DF_PATH = path.join(path.curdir, 'dftoformat.csv')

In [103]:
cpu_use_df = pd.read_csv(CPU_DF_PATH)
cpu_use_df.head()

   VM            Timestamp     target
0   1  2013-06-30 22:05:00  87.779984
1   1  2013-06-30 22:10:00  29.259995
2   1  2013-06-30 22:15:00  27.309328
3   1  2013-06-30 22:20:00  23.407996
4   1  2013-06-30 22:25:00  19.506663

In [104]:
cpu_use_timeseries = []
vm_index_range = cpu_use_df['VM'].unique()
for vm in vm_index_range:
    vm_series = cpu_use_df[cpu_use_df['VM'] == vm]
    
    # some data is invalid and thus needs to be set to something 
    # (it could be the previous num for normalization or removed)
    target_list = []
    for num in vm_series['target']:
        if math.isnan(num) == False:
            target_list.append(float(num))
        else:
            target_list.append(0.0)
            
    cpu_use_timeseries.append({
        'start': vm_series['Timestamp'].tolist()[0], # the starting timestamp
        'target': target_list, # these need to be converted to floats for json
         #'cat': vm, if we used categories we could do this
    })

In [105]:
with open('cpu_use_timeseries.json', 'w+') as new_file:
    new_file.write(json.dumps(cpu_use_timeseries))